$text_color: #58402c;
$font_roboto_slab:'Roboto Slab', serif;
$botton_blue_border: 1px solid #30488f;
$botton_blue: #30488f;
$border_sections_bottom:1px solid #58402c;
$background_sections_color: #ffe7d2;
$bunny_height: 280px;
$h_lineheight: 1.4;
$text_lineheight: 1.5;
